<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" 
        type="image/png"
        href="/img/text.png">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/LOGIN.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167582655-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-167582655-1');
    </script>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manipulating Text</title>

    <script data-ad-client="ca-pub-5546110883927870" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body style="background-color: rgba(235, 229, 229, 0.931);">
    {{>_navbar}}
    
    <div class="container mt-5">
        {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
        {{else}}
        {{/if}}
        {{>_msg}}
        {{{body}}}

        
    <a href="#" class="btn btn-primary voltar-ao-topo" style="background: #1E90FF;"><span><i class="fa fa-arrow-up"></i></span></a>
    </div>

<!-- Footer -->
	<section id="footer" class="mt-4">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class=" col-md-4">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <h5 style="text-align: center;">CONTACT</h5>
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/rhcs0" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/correaruan_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/ruan.correa_/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://www.linkedin.com/in/ruan-correa/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://github.com/ruancorrea" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p>Developed by Ruan Correa</p>
				</div>
				</hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

<!---    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> ---->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>

    <script>
        $(document).ready(function(){
            $('.voltar-ao-topo').fadeOut(200);
            var modo = JSON.parse(localStorage.getItem('modo') || 'normal');

             var tam = $(window).width();
                if (tam >=750){
                    $('#sumario').css('display', 'none')
                }else{
                    $('#sumario').css('display', 'inherit')
                } 

            if(modo == 'noturno'){
                document.querySelector('#chec').checked = true;
                $('body').css('background', 'rgba(2, 7, 10, 0.931)')
                $('body').css('color', 'white')
                $('textarea').css('background','rgba(0, 0, 0, 0.831)')
                $('textarea placeholder').css('color','white')
                $('textarea').css('color','white')
                $('table').css('color','white')
                $('.voltar-ao-topo').css('background', 'black')
                $('.rounded').css('background', '#8B7D7B')
                $('.cbctable').css('color','black')
            }else if(modo == 'normal'){
                    $('body').css('background', 'rgba(235, 229, 229, 0.931)')
                    $('body').css('color', 'black')
                    $('textarea').css('background','white')
                    $('textarea placeholder').css('color','rgba(0, 0, 0, 0.7)')
                    $('textarea').css('color','black')
                    $('table').css('color','black')
                    $('.voltar-ao-topo').css('background', '#1E90FF')
                    $('.rounded').css('background', '#CDC5BF')
                    $('.cbctable').css('color','black')
            }

            // Exibe ou oculta o botão
            $(window).scroll(function() {
                if ($(this).scrollTop() > 200) {
                    $('.voltar-ao-topo').fadeIn(200);
                    $('#menu-toggle').fadeIn(200);
                } else {
                    $('.voltar-ao-topo').fadeOut(200);
                }
            });
            
            // Faz animação para subir
            $('.voltar-ao-topo').click(function(event) {
                event.preventDefault();
                $('html, body').animate({scrollTop: 0}, 300);
            })
        });
    
    $('#chec').change(function(){
    var tipo = document.querySelector('#chec')
    if(tipo.checked){
        localStorage.setItem("modo", JSON.stringify('noturno'));
        $('body').css('background', 'rgba(2, 7, 10, 0.931)')
        $('body').css('color', 'white')
        $('textarea').css('background','rgba(0, 0, 0, 0.831)')
        $('textarea placeholder').css('color','white')
        $('textarea').css('color','white')
        $('table').css('color','white')
        $('.voltar-ao-topo').css('background', 'black')
        $('.rounded').css('background', '#8B7D7B')
        $('.cbctable').css('color','black')
    }

    if(!tipo.checked){
      localStorage.setItem("modo", JSON.stringify('normal'));    
      $('body').css('background', 'rgba(235, 229, 229, 0.931)')
      $('body').css('color', 'black')
      $('textarea').css('background','white')
      $('textarea placeholder').css('color','rgba(0, 0, 0, 0.7)')
      $('textarea').css('color','black')
      $('table').css('color','black')
      $('.voltar-ao-topo').css('background', '#1E90FF')
      $('.rounded').css('background', '#CDC5BF')
      $('.cbctable').css('color','black')
    }
  })

    </script>
</body>
</html>