<style>
    .btn-dark{
        width: 180px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;;
    }
    .table{
        border-radius: 1%;
    }

    #cabc{
        position: absolute;
        left: 40%;
        font-weight: 100;
        font: bold 20px serif;
        transform: translate(-50%, -50%);
    }

</style>
<div id="app-5">
    <br>
    <h3 style="font: normal 4em Verdana;" class="mt-1">Manipulating Text</h3>
    <h4 class="mt-5" id='cabc'></h4><br><br><br>

    <div class="card rounded mt-5" id='areadetexto' style="background: #CDC5BF !important;">
        <input style="display: block; margin-left: auto;" class="btn btn-warning btn-sm" id='copia' v-on:click="copy" type="button" value="Copy?">
        <textarea style="background-color: white;" class="form-control" v-model="texto" ref="texto" id="exampleFormControlTextarea1" rows="15" placeholder=" Enter your text here"></textarea>
        <div class="input-group mb-3">
            <input class="btn btn-dark" v-on:click="texto = texto.toUpperCase()" type="button" value="Uppercase">
            <input class="btn btn-dark" v-on:click="texto = titleize()" type="button" value="1st letter per word">
            <input class="btn btn-dark" v-on:click="texto = texto.toLowerCase()" type="button" value="Lowercase">
            <input class="btn btn-dark" v-on:click="texto = quebraPalavra()" type="button" value="Line break per word">
            <input class="btn btn-dark" v-on:click="reverseMessage" type="button" value="Invert text">
            <input class="btn btn-dark" v-on:click="texto = fraseOne()" type="button" value="1st letter per phrase">
            <input class="btn btn-dark" v-on:click="texto = espacamentoPalavra()" type="button" value="Word spacing">
            <input class="btn btn-dark" v-on:click="texto = semLinhaVazia()" type="button" value="No empty line">
            <input class="btn btn-dark" v-on:click="texto = semEspacoVazio()" type="button" value="No empty space">
            <input class="btn btn-dark" v-on:click="texto = semEspaco()" type="button" value="No space">
            <input class="btn btn-dark" v-on:click="texto = quebraFrase()" type="button" value="Line break per phr">
            <input class="btn btn-dark" v-on:click="texto = ''" type="button" value="Erase text">
        </div>
    </div>
</div>

<div class="container">
<br class="mt-4" id="whatis">
<br><br>
<h3 class="mt-4">What is that?</h3>
<p>It's a online tool developed to assist in the manipulation of texts of easy use and great utility. The idealization of the tool from the context of the reactivity applied in the text input box, through the <a style="color: chocolate;" href="https://vuejs.org/">Vue.js Framerwork</a>, is one of the points to be highlighted, since from that, we have, spontaneously, the result of each manipulation made in the inserted text.</p>
<p>The description of each feature with appropriate examples is present in the <a style="color: chocolate;" href="/options">options</a> tab. It is worth mentioning that given explanations aim to clarify doubts about such functionalities in the usability of the platform.</p>
</div>

<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h3 class="mt-4">Viewing modes</h3>
            <p>For better viewing there are two modes available on the platform: normal and night.</p>
            <p>The option is located in the menu at the top of the site.</p>
                <figure class="col-md-12 col-sm-6">
                    <img src="/img/23.png" class="mt-4" alt="Responsive image" style="border-radius:120px; border: 1px solid;">
                    <img src="/img/24.png" class="mt-4" alt="Responsive image" style="border-radius:120px; border: 1px solid;">                        
                </figure>
        </div>
        <div class="col-md-12">
            <h4 class="mt-4">Page visual</h5>
                <figure>
                    <img src="/img/19.png" class="img-fluid mt-4" alt="Responsive image">
                    <figcaption style="text-align: center;">Figure 1 -  normal mode</figcaption>
                </figure>

                <figure>
                    <img src="/img/20.png" class="img-fluid" alt="Responsive image">
                    <figcaption style="text-align: center;">Figure 2 -  night mode</figcaption>
                </figure>
       </div>
    </div>

</div>

<!--- <div class="container">
    <br class="mt-4" id="options">
    <br><br>
    <h3 class="mt-4">Description</h3>
    <p>Given the due options with its functionalities, it was tried as much as possible to simplify the usability, so that its use becomes as easy and simple as possible for the visitor. Based on this premise, it may be that, when manipulating the text, you may not find the desired result. That is, the text still finds something to be changed or some flaws that can be corrected. <a style="color: chocolate;" href="/#footer">In this case, keep in touch with the developer</a> (contact in the footer).</p>
</div> --->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/texto.js"></script>

<script>
    var app5 = new Vue({      
        delimiters: ['${', '}'],

        el: '#app-5',
        data: {
            texto: "",
            words: ""
        },
        methods: {
            titleize : function () {
                var words = this.texto.toLowerCase().split(" ");
                for (var a = 0; a < words.length; a++) {
                    var w = words[a];
                    words[a] = w[0].toUpperCase() + w.slice(1);
                }
                return words.join(" ");
            },
            reverseMessage: function () {
                this.texto = this.texto.split('').reverse().join('')
            },
            fraseOne: function(){
                this.texto = this.texto.toLowerCase();
                var primeira = "";
                primeira = this.texto[0].toUpperCase(); // = this.texto.toUpperCase();
                // console.log("primeira - " + primeira)

                for(var i=1; i<this.texto.length;i++){
                 //   console.log("string = " + primeira)

                    if(!alfabeto(this.texto[i])){
                      //  console.log("Entrou na vez = " + i + " string = " + primeira)
                        if(this.texto[i] == "\n" || this.texto[i] == "." || this.texto[i] == "!" || this.texto[i] == "?"){
                            while(!alfabeto(this.texto[i])){
                                primeira = primeira + this.texto[i];
                                i++;
                                if(i==this.texto.length){
                                    return primeira;
                                }
                            }
                        //    console.log("Saiu na vez = " + i + " string = " + primeira)                            
                            primeira = primeira +  this.texto[i].toUpperCase();
                        } else primeira = primeira + this.texto[i];
                    }else primeira = primeira + this.texto[i];
                }
                return primeira;
                //console.log("valor de i " + i + " tamanho do array " + this.texto.length)
            },
            quebraPalavra: function(){
                var newText = '';
                for(var i=0; i<this.texto.length; i++){
                    if(this.texto[i] == ' '){
                        newText += '\n'
                    }else newText += this.texto[i];
                }
                return newText;
            },
            quebraFrase: function(){
                var newText = '';
                for(var i=0; i<this.texto.length; i++){
                    if(this.texto[i] == '.'){
                        newText += '.';
                        i++;
                        while(this.texto[i]==' '){
                            i++;
                            if(i==this.texto.length){
                                return newText;
                            }
                        }

                        if(i==this.texto.length){
                                return newText;
                            }
                        if(this.texto[i+1]!='\n'){
                            newText += '\n'
                        }
                        newText += this.texto[i];
                    }else newText += this.texto[i];
                }
                return newText;
            },
            espacamentoPalavra: function(){
                var newText = '';
                for(var i=0; i<this.texto.length; i++){
                    if(this.texto[i] == '\n'){
                        newText += ' '
                    }else newText += this.texto[i];
                }
                return newText;
            },
            copy : function(){
                var copyTextarea = this.$refs.texto
        
                copyTextarea.select();
                document.execCommand('copy');
            },
            semLinhaVazia : function(){
                var newText = '';
                for(var i=0; i<this.texto.length; i++){
                    if(this.texto[i] == '\n'){
                        newText += this.texto[i];
                        i++;
                        while(this.texto[i] == '\n' && i<this.texto.length){
                            i++;
                        }
                        newText += this.texto[i];
                    }else newText += this.texto[i];
                }
                return newText;
            },
            semEspacoVazio : function(){
                var newText = '';
                for(var i=0; i<this.texto.length; i++){
                    if(this.texto[i] == ' '){
                        newText += this.texto[i];
                        i++;
                        while(this.texto[i] == ' '){
                            i++;
                            if(i==this.texto.length){
                                return newText;
                            }
                        }
                        newText += this.texto[i];
                    }else newText += this.texto[i];
                }
                return newText;
            },
            semEspaco : function(){
                var newText = '';
                for(var i=0; i<this.texto.length; i++){
                    if(this.texto[i] == ' '){
                        if(this.texto[i-1] == '.'){
                          newText += this.texto[i];  
                        }else newText += ''
                    }else newText += this.texto[i];
                }
                return newText;
            },

            letras : function(){
                var letras = 0 
                for(var i=0; i<this.texto.length; i++){
                    if(alfabeto(this.texto[i])){
                        letras += 1
                    }
                }
                return letras;
            }, 
            palavras : function() {
                var palavras = 0 
                for(var i=0; i<this.texto.length; i++){
                    if(alfabeto(this.texto[i])){
                        palavras +=1
                        while(alfabeto(this.texto[i])){
                            i++;
                        }
                    }
                }
                return palavras;
            }
        }
    })
</script>

<script>
    $('#copia').click(function(){
        var resposta = 'Copied!'
        $(this).val(resposta)
        $(this).attr('disabled', true);
    })
    $('#exampleFormControlTextarea1').bind('input propertychange', function(){
        var resposta = 'Copy?'
        $('#copia').val(resposta)
        $('#copia').attr('disabled', false);
        //console.log($(this).val())
    })
</script>

<script>
    var sentence = ["Online text editor and totally free.",
                    "This is an online platform, free and easy to use.",
                    "When entering the text, choose the option you want the magic to happen."
                    ]
    var part = 0;
    var part_index = 0;
    var interval_instance;
    var elm = document.querySelector('#cabc')

    function Write(){
        var text = sentence[part].substring(0, part_index + 1)
        elm.innerHTML = text;
        part_index++;

        if(text === sentence[part]){
            clearInterval(interval_instance);
            setTimeout(function(){
                interval_instance = setInterval(Delete, 25)
            }, 1000)
        }
    }

    function Delete() {
        var text = sentence[part].substring(0, part_index - 1)
        elm.innerHTML = text;
        part_index--;

        if(text === ''){
            clearInterval(interval_instance);

            if(part == (sentence.length - 1))
                part = 0;
            else 
                part++;
                
                part_index = 0;
            

            setTimeout(function(){
                interval_instance = setInterval(Write, 85)
            }, 400);
        }
    }
    interval_instance = setInterval(Write, 85)
</script>


