<br>
    <h3 style="font: normal 4em Verdana;" class="mt-1">Options</h3>
    <p class="mt-4">Given the due options with its functionalities, it was tried as much as possible to simplify the usability, so that its use becomes as easy and simple as possible for the visitor. Based on this premise, it may be that, when manipulating the text, you may not find the desired result. That is, the text still finds something to be changed or some flaws that can be corrected. <a style="color: chocolate;" href="/#footer">In this case, keep in touch with the developer</a> (contact in the footer).</p>
    <p>We adopted the idea of ​​two images per functionality to exemplify your application. Being in the first figure before the transformation, and in the second figure after the transformation made by the functionality. Note that the order of the second image will always be: First the circle between the button of the respective option, and then the transformation resulting from the click on the circled option.</p>
    
    
    <p id="sumario"><a href="/options/#op01">Uppercase</a> / <a href="/options/#op02">1ª letter per word</a> / <a href="/options/#op03">Lowercase</a> / 
                    <a href="/options/#op04">Line break per word</a> / <a href="/options/page2/#op06">Invert text</a> / 
                    <a href="/options/page2/#op07">1ª letter per phrase</a> / <a href="/options/page2/#op08">Word spacing</a> /
                    <a href="/options/page2/#op09">No empty line</a> / <a href="/options/page3/#op10">No empty space</a> /
                    <a href="/options/page3/#op11">No space</a> / <a href="/options/page3/#op05">Line break per phrase</a> / <a href="/options/page3/#op12">Erase text</a></p>

    
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <br id="op10">
                <br>

                <h3 class="mt-4" id="op10">No empty space</h3>
                <p>In this functionality the objective is simple: if you have two or more spaces between each word / phrase, they will be removed. It has the same idea of ​​the <a href="/options/page2/#op08" style="color: chocolate;">NO EMPTY LINE</a> functionality, being applied to remove spaces, instead of line breaks.</p>
                <h5 class="mt-4">Example:</h5>
                <p>In the following figures, as usual, we have in Figure 16 the text: "Example. Manipulating text" with several spaces between words. When applying the option to be explained here, we aim to eliminate this amount of spaces between the words of the inserted text, leaving only one space between the words, as shown in the result in Figure 17.</p>
                
                <figure>
                    <img src="/img/13.png" class="img-fluid" alt="Responsive image">
                     <figcaption style="text-align: center;">Figure 17 - after transformation</figcaption>
                </figure>

                <figure>
                    <img src="/img/edit/noemptyspace.png" class="img-fluid" alt="Responsive image">
                     <figcaption style="text-align: center;">Figure 18 - before transformation</figcaption>
                </figure>

                <br id="op11">
                <br>
                <br>

                <h3 class="mt-4">No space</h3>
                <p>In order to remove all spaces in the text, this option prevails after the full stop. Similar functionality is <a href="/options/page2/#op09" style="color: chocolate;">WORD SPACING</a>, where this option removes all spacing and the similar option removes all line breaks.</p>
                <h5 class="mt-4">Example:</h5>
                <p>Below, in Figure 19 we have as text inserted, several spaces between the word Manipulating and text. In Figure 20, after applying the described option, we see that there are no more spaces between the two words, joining both. Also note that the spacing between the period after the words Example and the word Manipulating has been preserved in the final result.</p>
                
                <figure>
                    <img src="/img/15.png" class="img-fluid" alt="Responsive image">
                     <figcaption style="text-align: center;">Figure 19 - after transformation</figcaption>
                </figure>

                <figure>
                    <img src="/img/edit/nospace.png" class="img-fluid" alt="Responsive image">
                     <figcaption style="text-align: center;">Figure 20 - before transformation</figcaption>
                </figure>

                <br id="op05">
                <br>
                <br>

                <h3 class="mt-4" id="op05">Line break per phrase</h3>
                <p>This functionality is intended to give a line break to each sentence. Option name is very suggestive and straightforward to its purpose. Reiterating that we consider sentences to be the set of words that are ended when a period, question mark or exclamation is found in the application of such functionality.</p>
                <h5 class="mt-4">Example:</h5>
                <p>As an example, we have in Figure 21 the inserted text "Example. Manipulating text". As a result of clicking the button, in Figure 22, we see that there was a line break when finding the point after the word Example, making it a word and what comes after it, another.</p>
                
                <figure>
                    <img src="/img/01.png" class="img-fluid" alt="Responsive image">
                     <figcaption style="text-align: center;">Figure 21 - after transformation</figcaption>
                </figure>

                <figure>
                    <img src="/img/edit/linebreakph.png" class="img-fluid" alt="Responsive image">
                     <figcaption style="text-align: center;">Figure 22 - before transformation</figcaption>
                </figure>

                <br id="op12">
                <br>
                <br>

                <h3 class="mt-4">Erase text</h3>
                <p>Being straightforward in this functionality, we delete all the text inserted at your click.</p>
                <h5 class="mt-4">Example:</h5>
                <p>As an example we have a text in Figure 23, and when clicking on it, looking at Figure 24, we see that there is no more text, now the phrase: "Enter your text here" appears.</p>
                
                <figure>
                    <img src="/img/01.png" class="img-fluid" alt="Responsive image">
                     <figcaption style="text-align: center;">Figure 23 - after transformation</figcaption>
                </figure>

                <figure>
                    <img src="/img/edit/erase.png" class="img-fluid" alt="Responsive image">
                     <figcaption style="text-align: center;">Figure 24 - before transformation</figcaption>
                </figure>

                <nav aria-label="Page navigation example mt-4">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                        <a class="page-link"  disabled tabindex="-1" aria-disabled="true">Next</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="/options/page3">3</a></li>
                        <li class="page-item"><a class="page-link" href="/options/page2">2</a></li>
                        <li class="page-item"><a class="page-link" href="/options">1</a></li>
                        <li class="page-item">
                        <a class="page-link" href="/options/page2">Previous</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="card" style="border-radius: 50px; background: none;">
                    <div class="card-header" style="border-radius: 50px;">
                        <h5 class="mt-4">Functionalities</h5>
                    </div>
                    <div class="card-body">
                        <ul style="list-style: none;">
                            <li><a href="/options/#op01">Uppercase</a></li>
                            <li><a href="/options/#op02">1ª letter per word</a></li>
                            <li><a href="/options/#op03">Lowercase</a></li>
                            <li><a href="/options/#op04">Line break per word</a></li>
                            <li><a href="/options/page2/#op06">Invert text</a></li>
                            <li><a href="/options/page2/#op07">1ª letter per phrase</a></li>
                            <li><a href="/options/page2/#op08">Word spacing</a></li>
                            <li><a href="/options/page2/#op09">No empty line</a></li>
                            <li><a href="/options/page3/#op10">No empty space</a></li>
                            <li><a href="/options/page3/#op11">No space</a></li>
                            <li><a href="/options/page3/#op05">Line break per phrase</a></li>
                            <li><a href="/options/page3/#op12">Erase text</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>   
</div>